html, body {
    height: 100%;
    width: 100%;
}

textarea {
  width: 400px;
  height: 250px;
}

form textarea#comment {
     width: 400px;
     height: 250px;
}

.bg {
    background-image: url('/static/img/about.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.bg-1 {
    background-image: url('/static/img/kitchen_white.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.orderpage-bg {
    background-image: url('/static/img/orderbackground.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:100%;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
