{% extends 'layout.html' %}

{% block body %}
    <h1>About</h1>
    <hr>
    <h1><small>CMSC661 Databases Project</small></h1>

    <h1><small>Team</small></h1>
    Dennis Makmak<br/>
    Oyesh Mann Singh<br/>
    Aniruddha Saha<br/>

    <h1><small>Source</small></h1>
    Dev branch: <a href="https://github.com/denmak1/eatIn">https://github.com/denmak1/eatIn</a><br/>
    Stable branch: <a href="https://github.com/oya163/eatIn">https://github.com/oya163/eatIn</a>

{% endblock %}
