{% extends 'layout.html' %}

{% block body %}
    {% from "includes/_formhelpers.html" import render_field2 %}
    <h1>Account Management<br/></h1>
    <hr/>

    <div class = "">
        <form method="POST" action="">
            <h1><small>General Settings</small></h1>
            <div class="form-group">
                <div class="input-group" aria-describedby="basic-addon3">
                    {{ render_field2(form.first_name, class_="form-control") }}
                </div>
            </div>
            <div class="form-group">
                <div class="input-group" aria-describedby="basic-addon3">
                    {{ render_field2(form.last_name, class_="form-control") }}
                </div>
            </div>
            <div class="form-group">
                <div class="input-group" aria-describedby="basic-addon3">
                    {{ render_field2(form.email_id, class_="form-control") }}
                </div>
            </div>
            <div class="form-group">
                <div class="input-group" aria-describedby="basic-addon3">
                    {{ render_field2(form.password, class_="form-control") }}
                </div>
            </div>
            <div class="form-group">
                <div class="input-group" aria-describedby="basic-addon3">
                    {{ render_field2(form.confirm, class_="form-control") }}
                </div>
            </div>
            <div class="form-group">
                <div class="input-group" aria-describedby="basic-addon3">
                    {{ render_field2(form.usertype, class_="form-control") }}
                </div>
            </div>
            <div class="form-group">
                <div class="input-group" aria-describedby="basic-addon3">
                    {{ render_field2(form.apartment_no, class_="form-control") }}
                </div>
            </div>
            <div class="form-group">
                <div class="input-group" aria-describedby="basic-addon3">
                    {{ render_field2(form.street, class_="form-control") }}
                </div>
            </div>
            <div class="form-group">
                <div class="input-group" aria-describedby="basic-addon3">
                    {{ render_field2(form.city, class_="form-control") }}
                </div>
            </div>
            <div class="form-group">
                <div class="input-group" aria-describedby="basic-addon3">
                    {{ render_field2(form.state, class_="form-control") }}
                </div>
            </div>
            <div class="form-group">
                <div class="input-group" aria-describedby="basic-addon3">
                    {{ render_field2(form.zipcode, class_="form-control") }}
                </div>
            </div>
            <div class="form-group">
                <div class="input-group" aria-describedby="basic-addon3">
                    {{ render_field2(form.country, class_="form-control") }}
                </div>
            </div>
            <div class="form-group">
                <div class="input-group" aria-describedby="basic-addon3">
                    {{ render_field2(form.phone_number, class_="form-control") }}
                </div>
            </div>

            {% if chef %}
            <br/>
            <h1><small>Chef Settings</small></h1>
            <div class="form-group">
                <div class="input-group" aria-describedby="basic-addon3">
                    {{ render_field2(form.chefspec, class_="form-control") }}
                </div>
            </div>
            {% endif %}

            {% if cust %}
            <br/>
            <h1><small>Customer Settings</small></h1>
            <div class="form-group">
                <div class="input-group" aria-describedby="basic-addon3">
                    {{ render_field2(form.custpref, class_="form-control") }}
                </div>
            </div>
            {% endif %}

            <p><input type="submit" class="btn btn-primary" value="Update"> </p>
        </form>
    </div>


{% endblock %}
