{% extends 'layout.html' %}

{% block body %}
    <h1>Order History</h1>
    <hr>

    Past orders for which you were the customer of:
    <table class="table table-striped">
        <tr>
            <th>#</th>
            <th>Food Name</th>
            <th>Prepared By</th>
            <th>Ordered Date</th>
            <th>Requested Date</th>
            <th>End Date</th>
            <th>Status</th>
        </tr>
        {% for order in orders_as_cust %}
            <tr>
                <td><a href="{{ url_for('orderinfo', orderid=order.orderid) }}">{{ order.orderid }}</a></td>
                <td>{{ order.get_food().foodname }}</td>
                <td>{{ order.get_chef().get_user().fname + " " + order.get_chef().get_user().lname }}</td>
                <td>{{ order.order_date }}</td>
                <td>{{ order.req_date }}</td>
                <td>{{ order.end_date }}</td>
                <td>{{ order.status }}</td>
            </tr>
        {% endfor %}
    </table>

    Past orders for which you were the chef of:
    <table class="table table-striped">
        <tr>
            <th>#</th>
            <th>Food Name</th>
            <th>Customer</th>
            <th>Ordered Date</th>
            <th>Due Date</th>
            <th>End Date</th>
            <th>Status</th>
        </tr>
        {% for order in orders_as_chef %}
            <tr>
                <td><a href="{{ url_for('orderinfo', orderid=order.orderid) }}">{{ order.orderid }}</a></td>
                <td>{{ order.get_food().foodname }}</td>
                <td>{{ order.get_customer().get_user().fname + " " + order.get_customer().get_user().lname }}</td>
                <td>{{ order.order_date }}</td>
                <td>{{ order.req_date }}</td>
                <td>{{ order.end_date }}</td>
                <td>{{ order.status }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
